<div id="pageHome">
    <h1>Welcome back, user!</h1>
        <div id="recentDocuments">
        <p>Your recent uploaded documents</p>
        <div *ngFor="let doc of allDocuments" id="document">
            <h4>{{doc.title}}</h4>
            <p>{{doc.note}}</p>
            <div id="properties">
                <img *ngIf="doc.mimeType == 'image/png'" src="assets/filetype_png.svg">
                <img *ngIf="doc.mimeType == 'application/pdf'" src="assets/filetype_pdf.svg">
                <img src="assets/ocr_enabled.svg" title="OCR enabled on this document">
            </div>
            <br>
            <button (click)="download(doc)">Download</button>
        </div>
    </div>
</div>